:root {
  margin: 0px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --teal: #1995AD;
  --lightB: #A1D6E2;
  --offW: #F1F1F2;
  --text: sans-serif;
  
}
body {
  margin: 0px;
  padding: 0;

}
.nav-ul{
  text-decoration: none;
}
.nav-item {
  margin-left: 25px;
  list-style-type: none;
  font-size: 25px;

}

.form {
  margin-left: 100px;
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: center;
}
.contact-header{
  margin-bottom: 0;
}
.contact-btn{
  margin-top: 25px;
  margin-left: 42%;
}

.portfolio-header{
display:flex ;
flex-direction: column;
align-items: center;

}
.portfolio{
  background-color: black;
  height: 400px;
  width: 300px;
  border-radius: 1rem;
  margin: 75px 25px 25px 25px;
}

.row{
  display: flex;
  justify-content: center;
}
.about-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--text);
  margin-top: 100px;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
  margin-bottom: 100px;
}
.about-text{
  width: 400px;
}
.about-activities{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
  margin-bottom: 100px;
}
.about-skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
}
.about-list{
  list-style: none;
}
.img{
  height: 200px
}
.about-img{
  height: 80px;
  margin: 15px
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
