:root {
  margin: 0px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --orange: black;
  --grey: white;
  --white: #1b1b1b;
  --text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
body {
  margin: 0px;
  padding: 0;
  background-color: var(--grey);

}
.nav-bar{
  position: fixed;
  top: 0px;
  width: 97.3%;
}
.nav-link{
  color: var(--orange );
  text-decoration: none;
  margin: 3px;
  padding: 8px;
}
.nav-item :hover{
  background-color: #1e90ff;
  height: max-content;
  border-radius: 10px;
}
.nav-item {
  margin-left: 25px;
  list-style-type: none;
  font-size: 25px;
  color:#1e90ff
}
.form {
  padding-bottom:200px;
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: center;
}
.contact-header{
  margin-bottom: 10px;
  color: var(--white);
  font-family: var(--text);
}
.contact-btn{
  margin-top: 25px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: #1e90ff ;
  color: white;
  font-size: 18px;
}

.portfolio-header{
display:flex ;
flex-direction: column;
align-items: center;
color: var(--white);
font-size: 25px;
margin-top: 150px;

}
.portfolio{
 
  height: 500px;
  width: 400px;
  border-radius: 1rem;
  margin: 75px 25px 25px 25px;
}

.row{
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--text);
  color: var(--white);
  margin:0;
  margin-top: 40px;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
  color: var(--white);
  flex-direction: row-reverse;
}
.about-text{
  width: 500px;
  font-size: 20px;
  color: black
}

.about-activities{
  font-family: var(--text);
  margin-bottom: 100px;
  margin-top: 200px;
  color: var(--white)
}
.about-skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
}
.about-skills2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
}
.about-list{
  list-style: none;
  font-size: 20px;
}
.img1{
  height: 450px;
  margin-left: 300px
}
.img2{
  height: 450px;
  margin-left: 300px;
  margin-right: 200px
}
.about-img{
  height: 80px;
  margin: 15px
}
.resume-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume{
 border: solid black 1px;
 height: 1000px;
 width: 800px;
}
.portfolio-Img{
  width: 400px;
 border-radius: 1rem;
}
.connect-container{
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}
.connect{
  height: 50px;
  margin-left: 50px
}
.Home-container{
  background-image: url(./componets/images/paper-clouds-sky-background-vector.jpg) ;
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center
}
.Home-header{
  font-size: 50px;
}
.Home-header-pt2{
  width: 480px ;
  font-size: 50px;
  color: #1e90ff;
  animation: typing 2s steps(20), cursor .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
@keyframes cursor {
  50% {border-color: transparent}
}
@keyframes typing {
  from {
    width: 0
  }
  to { width: 100%; }
}
.text{
  font-size: 20px;
  
}

.contact-container{
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}
.contact-control{
  display: flex;
  justify-content: space-around;
}
.contact-socials{
  margin-top: 150px;
}
.about-me{
  display: flex;
  margin-top: 50px;
}
.about-me-pt2{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.about-me-header{
  font-size: 50px;
  margin-bottom: 60px;
  color:#1e90ff
}
.about-me-text{
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blue{
  color: #1e90ff
}
.about-img{
  margin-right: 50px;
}
.pointer{
  height: 20px;
  margin-right: 10px
}
.custom-alert{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
@media all and (max-width: 500px ) {
  .Home-container{
    display: flex;
    flex-direction: column;
    height: 875px;
  }
  .about{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;

  }
  .contact-control{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-container{
    display: flex;
    align-items: center;
  }
  .text{
    text-align: center;
  }
  .img1{
    margin-left: 55px;
  }
  .img2{
    margin: 0;
    height: 200px;
  }
  .full-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me-pt2{
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .about-skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
}
